body {
    background-color:skyblue;
    font-family: sans-serif;
    }
h1 {
    color: indigo;
    text-align: center;
    }
.assign 
{
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.assign img
{
    length: 400px;
    width: 200px;
    margin: 10px;
}
