body {
    background-color: purple;
    font-family: sans-serif;
    }
h1 {
    color: indigo;
    text-align: center;
    }
.assign 
{
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: lightblue;
    
}
.assign img
{
    width: 200px;
    margin: 10px;
}
